body {
  background-color: rgb(73, 19, 19);
  color: rgb(230, 230, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(255, 255, 255);
}

input, button {
  margin: 1em;
}

#spinner {
  margin: 6em 4em;
  position: sticky;
  top: 4em;
  z-index: 1;
}

canvas {
  max-width: 90vw;
  height: auto;
}
